In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

print("Original Data Shape:", df.shape)
print("First 5 rows:\n", df.head())

# Step 2: Drop or Fill Missing Values

df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df['Cabin'].fillna('Unknown', inplace=True)

# Step 3: Convert Column Data Types

df['Age'] = df['Age'].astype(int)

# Step 4: Remove Duplicate Rows

df = df.drop_duplicates()

# Step 5: Rename Columns for clarity
df.rename(columns={
    'Name': 'Passenger_Name',
    'Sex': 'Gender',
    'SibSp': 'Siblings_Spouses_Aboard',
    'Parch': 'Parents_Children_Aboard'
}, inplace=True)

# Final cleaned dataset
print("\nCleaned Data Shape:", df.shape)
print("\nCleaned Dataset Sample:\n", df.head())

Original Data Shape: (891, 12)
First 5 rows:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Cleaned Data Shape: (891, 12)

Cleaned Dataset Sample:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                      Passenger_Name  Gender  Age  \
0                            Braund, Mr. Owen Harris    male   22
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
2                             Heikkinen, Miss. Laina  female   26
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35
4                           Allen, Mr. William Henry    male   35

   Siblings_Spouses_Aboard  Parents_Children_Aboard            Ticket  \
0                        1                        0         A/5 21171
1                        1                        0          PC 17599
2                        0                        0  STON/O2. 3101282
3                        1                        0            113803
4                        0                        0            373450

      Fare    Cabin Embarked
0   7.2500  Unknown        S
1  71.2833      C85        C
2   7.9250  Unknown        S
3  53.1000     C123        S
4   8.0500  Unknown        S

/tmp/ipython-input-2-1794188132.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-2-1794188132.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
/tmp/ipython-input-2-1794188132.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna('Unknown', inplace=True)